body{
	width:100%;
	padding:0;
	margin:0;
	background-image:url("../img/background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.content{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
.screen1{
	background-image:url("../img/gradients.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.logo {
  width: 430px;
  height: 190px;
  background: #ffffff;
  box-shadow: 0px 2px 7px 0px #000000;
  left: 30%;
  position:absolute;
  top: 44%;
}
.screen2{
	
}

.wrapper {
  position:relative;
  transform:translateY(-50%);
  top:50%;
  margin: 0 auto;
  width:75%;
  overflow:hidden;
}

.wrapper p {
  position:absolute;
  left:100%;
  width:100%;
  font-size:2em;
  color:#ffffff;
  top:0;
  cursor:pointer;
  opacity:0;
  transition:left 1.4s, opacity .5s ease;
}

.wrapper p.activeText {
  position:relative;
  left:0;
  opacity:1;
}

.wrapper p.slideLeft {
  left:-100%;
  opacity:0;
}

.wrapper p:before {
  content:"\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.wrapper p:after {
  content:"\201D";
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.45em;
}

ul {
  margin:0;
  padding:0;
  text-align:center;
}

ul li {
  list-style:none;
}
.dot {
  width:10px;
  height:10px;
  border-radius:100px;
  background:#7f8c8d;
  display:inline-block;
  text-lign:center;
  cursor:pointer;
}

.active {
  background:#ecf0f1;
}
